@{
    Layout = "_LayoutAdminDashboard";
    ViewData["Title"] = " ";
}
@using HelloDocMVC.Entity.Models.ViewModel;
@using static HelloDocMVC.Entity.Models.Constant;
@model List<PatientDashboardList>;

<div class="d-flex justify-content-between align-items-center container-fluid pb-1 mt-4">
    <div class="d-flex align-self-center">
        <h3><b>Patient Records</b></h3>
    </div>
    <div class=" btn d-flex justify-content-end">
        <div>
            <div class="border border-info rounded p-2 m-1">
                <a asp-controller="Records" asp-action="PatientRecord" class="text-decoration-none text-info"><i class='fa fa-angle-left text-info me-1'></i>Back</a>
            </div>
        </div>
    </div>
</div>
<div class="bg-white reqform container-fluid p-3">
    <table class="table table-responsive my-2">
        <thead>
            <tr class="table-secondary">
                <th>Client/Member</th>
                <th>Created Date</th>
                <th>Confirmation</th>
                <th>Provider Name</th>
                <th>Concluded</th>
                <th>Status</th>
                <th>Final Report</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td scope="row"> @item.PatientName</td>
                    <td scope="row"> @item.RequestedDate.ToString("MMM d , yyyy")</td>
                    <td scope="row"> @item.Confirmation</td>
                    <td scope="row"> @item.Physician</td>
                    <td scope="row"> @item.ConcludedDate.ToString("MMM d , yyyy")</td>
                    <td scope="row"> @item.Status</td>
                    <td class="mobile-hide" data-label="Document">
                        <a asp-action="" asp-controller="" class="btn btn-outline-info btn-sm">
                            View

                        </a>
                    </td>
                    <td>
                        <a class=" dropdown btn btn-sm btn-outline-info " role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions
                        </a>
                        <div class="dropdown-menu mt-2" aria-labelledby="">
                            <a class="dropdown-item " onclick="location.href='@Url.Action("viewCase", "Admin",new {RequestId=item.RequestId, RequestTypeId=item.RequestTypeId})'">View Case</a>
                            <a class="dropdown-item " asp-action="" asp-controller="AdminTabs">Chats</a>
                            <a class="dropdown-item " asp-action="ViewUploads" asp-controller="Admin" asp-route-requestid="@item.RequestId">Documents</a>
                        </div>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>