@using Microsoft.AspNetCore.Http
@using static HelloDocMVC.Entity.Models.Constant
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    Layout = "_LayoutAdminDashboard";
}
@*@{
    var userId = HttpContextAccessor.HttpContext.Session.GetString("UserID");
}*@
@model HelloDocMVC.Entity.Models.ViewCase
<div>
    <div class="d-flex justify-content-between container">
        <div class="d-inline-flex">
            <h3 class="mt-2"><b>New Request</b></h3>
            <span class="@Enum.GetName(typeof(RequestType), Model.RequestTypeId) text-white rounded-pill m-2 p-3 py-1">@Enum.GetName(typeof(RequestType), Model.RequestTypeId)</span>
        </div>
        <div>
            <div class="border border-info rounded p-1 m-1">
                <a asp-controller="Dashboard" asp-action="Index" class=""><i class='fa fa-angle-left text-info p-2'>Back</i></a>
            </div>
        </div>
    </div>
    <form class="bg-white container mt-5 sbox" method="post" >
        <input type="hidden" asp-for="UserId" />
        <h5><b>Patient Information</b></h5>

        <small>Confirmation Number</small>
        <div class="form-group p-2">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter Brief Details of Symptoms" disabled></textarea>
        </div>
        <div class="row">
            <div class="form-group col-md-6 p-3 form-floating">
                <input asp-for="FirstName" type="text" class="form-control" id="fname" placeholder="Your First Name" disabled>
                <label for="fname">Your First Name</label>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="col-md-6 p-3 form-floating">
                <input asp-for="LastName" type="text" class="form-control" id="lname" placeholder="Your Last Name" disabled>
                <label for="lname">Your Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 p-3 form-floating">
                <input asp-for="DOB" type="date" class="form-control" id="name" placeholder="Name" disabled>
                <label for="name">Date of Birth</label>
            </div>
            <div class="form-group col-md-5 p-3 form-floating">
                <input asp-for="Mobile" type="tel" class="form-control shadow-none" id="phone" disabled>
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <div class="col-md-1 p-3 mt-3">
                <a class="border border-info rounded p-3 mt-1">
                    <i class="fa fa-phone p-1 fa-sm text-info"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 p-3 form-floating">
                <input asp-for="Email" type="email" class="form-control" id="Email" placeholder="Your Email" disabled>
                <label for="Email">Your Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <h5><b>Patient Location</b></h5>
        <div class="row">
            <div class="form-group col-md-6 p-3 form-floating">
                <input asp-for="Street" type="text" class="form-control" id="name" placeholder="Region" disabled>
                <label for="name">Region</label>
            </div>
            <div class="col-md-5 p-3 form-floating">
                <input asp-for="City" type="text" class="form-control" id="naming" placeholder="Business Name/Address" disabled>
                <label for="naming">Business Name/Adderess</label>
            </div>
            <div class="col-md-1 p-3 mt-3">
                <a class="border border-info rounded p-3 mt-1">
                    <i class="fa fa-map-marker-alt p-1 fa-sm text-info"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 p-3 form-floating">
                <input asp-for="State" type="text" class="form-control" id="name" placeholder="Room #" disabled>
                <label for="name">Room #</label>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-info text-white mx" onclick="model_Case(@Model.RequestId)" data-bs-toggle="modal" data-bs-target="#AssignCase" data-bs-requestid="@Model.RequestId" data-bs-patientname="@Model.FirstName">Assign</button>
            <button class="btn btn-info text-white mx-2">View Notes</button>
            <button class="btn text-white bg-danger">Cancel</button>
        </div>
    </form>
</div>
<partial name="AssignCase.cshtml" />
<script>
    function model_Case(id) {
        console.log(id);
        var modeldata = @Html.Raw(Json.Serialize(Model))
            document.getElementById('RequestID_Input_ModelAssignCase').value = id;
    }

</script>
