@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using static HelloDocMVC.Entity.Models.Constant;
@model List<HelloDocMVC.Entity.Models.ViewProvider>;
@{
    Layout = "_LayoutAdminDashboard";
}
@*<style>
    .was-validated .form-check-input:valid ~ .form-check-label, .form-check-input:valid {
        color: black !important;
        border-color: #0dcaf0 !important;
    }
</style>*@
<div class="container">
    @* heading *@
    <div class="d-flex justify-content-between">
        <div class="d-flex align-self-center">
            <h4><strong>Provider Information</strong></h4>
        </div>
        <div>
            <div class="border border-info rounded p-2 m-1">
                <a asp-controller="Admin" asp-action="Index" class="text-decoration-none text-info"><i class='fa fa-angle-left text-info me-1'></i>Back</a>
            </div>
        </div>
    </div>
    <div class="bg-white rounded shadow mt-3">
        <div class="d-flex justify-content-between align-self-center p-3">
            <div class="search m-1">
                <a id="regionicon">
                    <i class="fa fa-search"></i>
                </a>
                <select class="form-select" data-allow-clear="true" tabindex="-1" id="regiondropdown" onchange="getdatabyregion()" asp-items="@(new SelectList(ViewBag.RegionComboBox,"RegionId","RegionName"))" data-control="select2" data-placeholder="Select Level">
                    <option>All Region</option>
                </select>
            </div>
            <div class="d-flex">
                <form asp-action="ChangeNotificationPhysician" class="me-2" id="saveChangesForm" asp-controller="Provider">
                    <input type="hidden" id="changedValuesInput" name="changedValues">
                    <a class="btn text-info m-1 border border-info align-self-center" style="display:none;" id="saveChangesButton"> Save Changes </a>
                </form>
                <a class="btn bg-info text-white m-1 align-self-center" asp-action="PhysicianProfile" asp-controller="Provider">
                    Create Provider Account
                </a>
            </div>
        </div>
        <div>
            <table class="table table-responsive mt-3 mb-0 dataTable">
                <thead class="theadbg">
                    <tr>
                        @{
                            // var J1 = @Model.IsAscending;
                            <th scope="col">Stop Notifications</th>
                            <th scope="col" style="position:relative;" class="dt-orderable-asc dt-orderable-desc " onclick="SetColumValue('createdDate')">
                                Provider Name
                                <span class="dt-column-order"></span>
                            </th>
                            <th scope="col">Role</th>
                            <th scope="col">On Call Status</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                        }
                    </tr>
                </thead>
                <tbody class="table-group-divider" id="providerbody">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td scope="row" class="text-center">
                                @{
                                    var check = false;
                                    if (item.notification != null)
                                    {
                                        check = item.notification[0];
                                    }
                                    <input class="form-check-input form-check-inputs" id="@item.Physicianid" type="checkbox" value="" @(check ? "checked" : "")>
                                }

                                <input class="NotificationId" type="hidden" value="@item.Physicianid">
                            </td>
                            <td>@item.Firstname  @item.Lastname</td>
                            <td>@item.role</td>
                            <td>@item.Isnondisclosuredoc</td>
                            <td>@Enum.GetName(typeof(AdminStatus), item.Status)</td>
                            <td class="d-flex">
                                <button data-bs-toggle="modal" onclick="assignemail('@item.Email')" data-bs-id="@item.Physicianid" data-bs-email="@item.Email" data-bs-target="#myModal" class="btn btn-outline-info btn-sm document-button mx-1">
                                    Contact
                                </button>
                                <a asp-action="PhysicianProfile" asp-controller="Provider" asp-route-id="@item.Physicianid" class="btn btn-outline-info btn-sm document-button mx-1">
                                    Edit
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header  bg-info text-white">
                <h1 class="modal-title fs-5" id="exampleModalLabel"> Contact Your Provide </h1>
                <i class="fa-solid fa-xmark" data-bs-dismiss="modal"></i>
            </div>
            <form asp-action="SendMessage" asp-controller="Provider" class="needs-validation" novalidate>
                <div class="modal-body">
                    <small class="text-secondary fs-6" id="exampleModalLabel"> Choose Comunication to send message  <span class="text-info" id="patientname"> </span></small>
                    <input type="hidden" name="email" id="emailforcontact" />
                    <input type="hidden" name="id" id="id" />
                    <div class="mx-4 mt-4">
                        <div class="form-check p-2 fs-6">
                            <input class="form-check-input" value="1" type="radio" name="way" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                SMS
                            </label>
                        </div>
                        <div class="form-check p-2 fs-6">
                            <input class="form-check-input" value="2" type="radio" name="way" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                Email
                            </label>
                        </div>
                        <div class="form-check p-2 fs-6">
                            <input class="form-check-input" value="3" type="radio" name="way" id="flexRadioDefault3">
                            <label class="form-check-label" for="flexRadioDefault2">
                                Both
                            </label>
                        </div>
                    </div>
                    <div class="mb-4 form-floating ">
                        <textarea required rows="4" name="msg" id="msgid" class="input-outline w-100 h-100 fs-6 form-control shadow-none" type="text"></textarea>
                        <label class="inputs-lable inputs-lable fs-6" for="msgid">Message</label>
                        <div class="invalid-feedback">
                            Please Enter Message.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class=" btn btn-info text-white" value="Send" style="display:block !important">
                    <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function assignemail(e) {
        console.log(e);
        document.getElementById('emailforcontact').value = e;
    }

    function getdatabyregion() {
        var region = $("#regiondropdown").val();
        if (region == '-1') {
            region = null;
            location.reload();
        }
        $.ajax({
            type: "GET",
            url: '@Url.Action("Index", "Provider")?region=' + region,
            cache: false,
            success: function (response) {
                console.log(response)
                var bodyContent = $(response).find('tbody').html();
                console.log(bodyContent)
                $('#providerbody').html(bodyContent);
            },
            error: function () {
                alert("Error while Loading data.");
            }
        });
    }
    $(document).ready(function () {
        $('#saveChangesButton').click(function () {
            $('#saveChangesForm').submit();
        });
        var initialState = {};
        $('.form-check-inputs').each(function () {
            initialState[this.id] = this.checked;
        });
        $('.form-check-inputs').change(function () {
            var changedValues = {};
            $('.form-check-inputs').each(function () {
                if (this.checked !== initialState[this.id]) {
                    changedValues[this.id] = this.checked;
                }
            });
            $('#changedValuesInput').val(JSON.stringify(changedValues));
            console.log(changedValues);
            if (Object.keys(changedValues).length > 0) {
                $('#saveChangesButton').show();
            } else {
                $('#saveChangesButton').hide();
            }
        });
    });
</script> 