@using HelloDocMVC.Repository.Repository.Interface
@inject ILoginRepository LoginRepository;
﻿﻿@{
    string path = Context.Request.Path;
}
<nav class="navbar px-5 navbar-expand-sm  rounded border border-top  d-none d-lg-block">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                @if (LoginRepository.isAccessGranted((int)CV.RoleID(), "Dashboard"))
                {
                    <li class="nav-item">
                        <a class="nav-link px-3 text-dark @(path.StartsWith("/Admin/Dashboard") ? "activesbnav" : "")" aria-current="page" asp-action="Index" asp-controller="Admin">Dashboard</a>
                    </li>
                }
                @if (LoginRepository.isAccessGranted((int)CV.RoleID(), "ProviderLocation"))
                {
                    <li class="nav-item">
                        <a class="nav-link px-3 text-dark @(path.StartsWith("/Provider/Location") ? "activesbnav" : "")" asp-action="Location" asp-controller="Provider">Provider Location</a>
                    </li>
                }

                @if (LoginRepository.isAccessGranted((int)CV.RoleID(), "MyProfile"))
                {
                    <li class="nav-item">
                        <a class="nav-link px-3 text-dark @(path.StartsWith("/AdminProfile") ? "activesbnav" : "")" asp-action="Index" asp-controller="AdminProfile">My Profile</a>
                    </li>
                }
                @if (CV.role() == "Admin")
                {
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown px-2 text-dark  @(path.StartsWith("/Provider/Index") ? "activesbnav" : "") ||  @(path.StartsWith("/Scheduling") ? "activesbnav" : "")" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Providers
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @if (LoginRepository.isAccessGranted((int)CV.RoleID(), "Provider"))
                            {
                                <a class="dropdown-item" asp-action="Index" asp-controller="Provider">Provider</a>
                            }
                            @if (LoginRepository.isAccessGranted((int)CV.RoleID(), "Scheduling"))
                            {
                                <a class="dropdown-item" asp-action="Index" asp-controller="Scheduling">Scheduling</a>
                            }
                            @if (LoginRepository.isAccessGranted((int)CV.RoleID(), "Invoicing"))
                            {
                                <a class="dropdown-item" href="#">Invoicing</a>
                            }
                        </div>
                    </li>
                }
                @if (CV.role() == "Physician")
                {
                    @if (LoginRepository.isAccessGranted((int)CV.RoleID(), "MySchedule"))
                    {
                        <li class="nav-item me-3">
                            <a class="nav-link text-dark @(path.StartsWith("/ProviderLocation") ? "activesbnav" : "")" asp-action="Index" asp-controller="Scheduling">Scheduling</a>
                        </li>
                    }
                    @if (LoginRepository.isAccessGranted((int)CV.RoleID(), "Invoicing"))
                    {
                        <li class="nav-item me-3">
                            <a class="nav-link text-dark @(path.StartsWith("/ProviderLocation") ? "activesbnav" : "")" href="#">Invoicing</a>
                        </li>
                    }
                }
                @if (LoginRepository.isAccessGranted((int)CV.RoleID(), "VendorsInfo"))
                {
                    <li class="nav-item">
                        <a class="nav-link px-3 text-dark @(path.StartsWith("/Partners") ? "activesbnav" : "") " asp-action="Index" asp-controller="Partners">Partners</a>
                    </li>
                }
                @if (LoginRepository.isAccessGranted((int)CV.RoleID(), "Role"))
                {
                    <li class="nav-item dropdown me-3">
                        <a class="nav-link dropdown text-dark @(path.StartsWith("/Access") ? "activesbnav" : "")" id="AccessnavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Access
                        </a>
                        <div class="dropdown-menu mt-2" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-action="Index" asp-controller="Access">Account Access</a>
                            <a class="dropdown-item" asp-action="UserRole" asp-controller="Access">User Access</a>
                        </div>
                    </li>
                }
                 @if (CV.role() == "Admin")
                {
                    <li class="nav-item dropdown me-3">
                        <a class="nav-link dropdown text-dark @(path.StartsWith("/Records") ? "activesbnav" : "")" id="AccessnavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Records
                        </a>
                        <div class="dropdown-menu mt-2" aria-labelledby="navbarDropdown">
                            @if (LoginRepository.isAccessGranted((int)CV.RoleID(), "History"))
                            {
                                <a class="dropdown-item" asp-action="SearchRecord" asp-controller="Records">Search Records</a>
                            }
                            @if (LoginRepository.isAccessGranted((int)CV.RoleID(), "EmailLogs"))
                            {
                                <a class="dropdown-item" asp-action="EmailLogs" asp-controller="Records">Email Logs</a>
                            }
                            @if (LoginRepository.isAccessGranted((int)CV.RoleID(), "SMSLogs"))
                            {
                                <a class="dropdown-item" asp-action="SMSLogs" asp-controller="Records">SMS Logs</a>
                            }
                            @if (LoginRepository.isAccessGranted((int)CV.RoleID(), "PatientRecords"))
                            {
                                <a class="dropdown-item" asp-action="PatientRecord" asp-controller="Records">Patient History</a>
                            }
                            @if (LoginRepository.isAccessGranted((int)CV.RoleID(), "BlockedHistory"))
                            {
                                <a class="dropdown-item" asp-action="BlockHistory" asp-controller="Records">Block History</a>
                            }
                        </div>
                    </li>
                }

            </ul>
        </div>
    </div>
</nav>
<div class="offcanvas offcanvas-start w-50 dBlock" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header bg-info text-white">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Welcome <strong>@CV.UserName()</strong></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="list-group list-group-flush">
            @*<li class="list-group-item h6"><a asp-controller="Admin" asp-action="Index" class="text-decoration-none text-dark">Dashboard</a></li>
            <li class="list-group-item h6"><a asp-controller="Profile" asp-action="Index" class="text-decoration-none text-dark">Provider Location</a></li>
            <li class="list-group-item h6"><a asp-controller="Profile" asp-action="Index" class="text-decoration-none text-dark">My Profile</a></li>
            <li class="list-group-item h6"><a asp-controller="Profile" asp-action="Index" class="text-decoration-none text-dark">Providers</a></li>
            <li class="list-group-item h6"><a asp-controller="Profile" asp-action="Index" class="text-decoration-none text-dark">Partners</a></li>
            <li class="list-group-item h6"><a asp-controller="Profile" asp-action="Index" class="text-decoration-none text-dark">Access</a></li>
            <li class="list-group-item h6"><a asp-controller="Profile" asp-action="Index" class="text-decoration-none text-dark">Records</a></li>*@
           @* <li class="nav-item">
                <a class="nav-link px-3 text-dark @(path.EndsWith("/Admin") ? "activesbnav" : "")" aria-current="page" asp-action="Index" asp-controller="Admin" class="text-decoration-none">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3 text-dark @(path.StartsWith("/Provider/Location") ? "activesbnav" : "")" asp-action="Location" asp-controller="Provider" class="text-decoration-none">Provider Location</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3 text-dark @(path.StartsWith("/AdminProfile") ? "activesbnav" : "")" asp-action="Index" asp-controller="AdminProfile">My Profile</a>
            </li>
            <li class="nav-item dropdown ">
                <a class="nav-link dropdown px-2 text-dark" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Providers
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item @(path.StartsWith("/Provider") ? "activesbnav" : "")" asp-action="Index" asp-controller="Provider">Provider</a>
                    <a class="dropdown-item @(path.StartsWith("/Provider") ? "activesbnav" : "")" asp-action="Index" asp-controller="Scheduling">Scheduling</a>
                    <a class="dropdown-item" href="#"> Invoicing</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3 text-dark " asp-action="Index" asp-controller="Partners">Partners</a>
            </li>
            <li class="nav-item dropdown me-3">
                <a class="nav-link dropdown text-dark @(path.StartsWith("/Access") ? "activesbnav" : "")" id="AccessnavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Access
                </a>
                <div class="dropdown-menu mt-2" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" asp-action="Index" asp-controller="Access">Account Access</a>
                    <a class="dropdown-item" asp-action="UserRole" asp-controller="Access">User Access</a>
                </div>
            </li>
            <li class="nav-item dropdown me-3">
                <a class="nav-link dropdown text-dark @(path.StartsWith("/Records") ? "activesbnav" : "")" id="AccessnavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Records
                </a>
                <div class="dropdown-menu mt-2" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" asp-action="SearchRecord" asp-controller="Records">Search Records</a>
                    <a class="dropdown-item" asp-action="EmailLogs" asp-controller="Records">Email Logs</a>
                    <a class="dropdown-item" asp-action="SMSLogs" asp-controller="Records">SMS Logs</a>
                    <a class="dropdown-item" asp-action="PatientRecord" asp-controller="Records">Patient History</a>
                    <a class="dropdown-item" asp-action="BlockHistory" asp-controller="Records">Block History</a>
                </div>
            </li>*@
            @if (LoginRepository.isAccessGranted((int)CV.RoleID(), "Dashboard"))
            {
                <li class="list-group-item">
                    <a class="nav-link px-3 text-dark @(path.EndsWith("/Admin") ? "activesbnav" : "")" aria-current="page" asp-action="Index" asp-controller="Admin">Dashboard</a>
                </li>
            }
            @if (LoginRepository.isAccessGranted((int)CV.RoleID(), "ProviderLocation"))
            {
                <li class="list-group-item">
                    <a class="nav-link px-3 text-dark @(path.StartsWith("/Provider/Location") ? "activesbnav" : "")" asp-action="Location" asp-controller="Provider">Provider Location</a>
                </li>
            }

            @if (LoginRepository.isAccessGranted((int)CV.RoleID(), "MyProfile"))
            {
                <li class="list-group-item">
                    <a class="nav-link px-3 text-dark @(path.StartsWith("/AdminProfile") ? "activesbnav" : "")" asp-action="Index" asp-controller="AdminProfile">My Profile</a>
                </li>
            }
            @if (CV.role() == "Admin")
            {
                <li class="list-group-item dropdown ">
                    <a class="nav-link dropdown px-3 text-dark" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Providers
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @if (LoginRepository.isAccessGranted((int)CV.RoleID(), "Provider"))
                        {
                            <a class="dropdown-item @(path.StartsWith("/Provider") ? "activesbnav" : "")" asp-action="Index" asp-controller="Provider">Provider</a>
                        }
                        @if (LoginRepository.isAccessGranted((int)CV.RoleID(), "Scheduling"))
                        {
                            <a class="dropdown-item @(path.StartsWith("/Provider") ? "activesbnav" : "")" asp-action="Index" asp-controller="Scheduling">Scheduling</a>
                        }
                        @if (LoginRepository.isAccessGranted((int)CV.RoleID(), "Invoicing"))
                        {
                            <a class="dropdown-item" href="#">Invoicing</a>
                        }
                    </div>
                </li>
            }
            @if (CV.role() == "Physician")
            {
                @if (LoginRepository.isAccessGranted((int)CV.RoleID(), "MySchedule"))
                {
                    <li class="nav-item me-3">
                        <a class="nav-link text-dark @(path.StartsWith("/ProviderLocation") ? "activesbnav" : "")" asp-action="Index" asp-controller="Scheduling">Scheduling</a>
                    </li>
                }
                @if (LoginRepository.isAccessGranted((int)CV.RoleID(), "Invoicing"))
                {
                    <li class="nav-item me-3">
                        <a class="nav-link text-dark @(path.StartsWith("/ProviderLocation") ? "activesbnav" : "")" href="#">Invoicing</a>
                    </li>
                }
            }
            @if (LoginRepository.isAccessGranted((int)CV.RoleID(), "VendorsInfo"))
            {
                <li class="list-group-item">
                    <a class="nav-link px-3 text-dark " asp-action="Index" asp-controller="Partners">Partners</a>
                </li>
            }
            @if (LoginRepository.isAccessGranted((int)CV.RoleID(), "Role"))
            {
                <li class="list-group-item dropdown me-3">
                    <a class="nav-link dropdown text-dark @(path.StartsWith("/Access") ? "activesbnav" : "")" id="AccessnavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Access
                    </a>
                    <div class="dropdown-menu mt-2" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-action="Index" asp-controller="Access">Account Access</a>
                        <a class="dropdown-item" asp-action="UserRole" asp-controller="Access">User Access</a>
                    </div>
                </li>
            }
            @if (CV.role() == "Admin")
            {
                <li class="list-group-item dropdown me-3">
                    <a class="nav-link dropdown text-dark @(path.StartsWith("/Records") ? "activesbnav" : "")" id="AccessnavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Records
                    </a>
                    <div class="dropdown-menu mt-2" aria-labelledby="navbarDropdown">
                        @if (LoginRepository.isAccessGranted((int)CV.RoleID(), "History"))
                        {
                            <a class="dropdown-item" asp-action="SearchRecord" asp-controller="Records">Search Records</a>
                        }
                        @if (LoginRepository.isAccessGranted((int)CV.RoleID(), "EmailLogs"))
                        {
                            <a class="dropdown-item" asp-action="EmailLogs" asp-controller="Records">Email Logs</a>
                        }
                        @if (LoginRepository.isAccessGranted((int)CV.RoleID(), "SMSLogs"))
                        {
                            <a class="dropdown-item" asp-action="SMSLogs" asp-controller="Records">SMS Logs</a>
                        }
                        @if (LoginRepository.isAccessGranted((int)CV.RoleID(), "PatientRecords"))
                        {
                            <a class="dropdown-item" asp-action="PatientRecord" asp-controller="Records">Patient History</a>
                        }
                        @if (LoginRepository.isAccessGranted((int)CV.RoleID(), "BlockedHistory"))
                        {
                            <a class="dropdown-item" asp-action="BlockHistory" asp-controller="Records">Block History</a>
                        }
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
